*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.baseStyles {
  background-color: #1E1F21;
  color: #DDDCDD;
  border-top: 1px solid #737374;
  border-left: 1px solid #464648;
  border-right: 1px solid #464648;
  border-bottom: 2px solid #464648;
  border-radius: 8px;
  overflow:hidden;
  box-shadow: 0 0 0 1px #1A1A1A, 0 8px 20px 6px #888;


  .tableCal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:repeat(7, 1fr);

    .otherMouth{
     color: #555759;
    }
    .elem {
      border: 1px #404040 solid;
      min-width: 148px;
      min-height: 88px;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 5px 10px;


      span{
        align-self: end;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      div{
        align-self: start;
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
      //&:hover{
      //  span{
      //    width: 30px;
      //    height: 30px;
      //    border-radius: 50%;
      //    border: red 1px solid;
      //    display: flex;
      //    justify-content: center;
      //    align-items: center;
      //    transition:  0.5s;
      //  }
      //}
      .currentDay{
        background-color: red;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

    }
  }

}



