*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.baseStyles {
  background-color: #1E1F21;
  color: #DDDCDD;

  .tableCal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:repeat(7, 1fr);

    .elem {
      border: 1px #404040 solid;
      min-width: 148px;
      min-height: 88px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 5px 10px;

      .currentDay{
        background-color: red;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

    }
  }

}



